{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/environmentalSafety/es_consoleheader.png",
      "fileBody" : "/interface/environmentalSafety/es_console.png",
      "fileFooter" : "/interface/environmentalSafety/es_consolefooter.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/environmentalSafety/es_consoleshine.png",
      "position" : [1, -1]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/es_x.png",
      "hover" : "/interface/inventory/es_xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [299, 194]
    },
    
    "lbl_gravity" : {
	  "type" : "label",
      "position" : [35, 180],
	  "hAnchor" : "left",
      "color" : "#36beff",
	  "value" : "Artificial gravity."
    },
    "desc_gravity" : {
	  "type" : "label",
	  "position" : [35, 172],
	  "hAnchor" : "left",
      "color" : "#007cbc",
	  "value" : "Put your feet on the ground."
    },
    "check_gravity" : {
      "type" : "button",
      "position" : [10, 168],
      "checkable" : true,
      "checked" : true,
      "callback" : "swapStatusGravity",
      "base" : "/interface/environmentalSafety/es_checkmarkBox_x.png",
      "baseImageChecked" : "/interface/environmentalSafety/es_checkmarkBox_tick.png" 
    },
    
    "lbl_nanoheal" : {
	  "type" : "label",
	  "position" : [35, 150],
	  "hAnchor" : "left",
      "color" : "#36beff",
	  "value" : "Nanobot Cloud."
    },
    "desc_nanoheal" : {
	  "type" : "label",
	  "position" : [35, 142],
	  "hAnchor" : "left",
      "color" : "#007cbc",
	  "value" : "Heals you over time."
    },
    "check_nanoheal" : {
      "type" : "button",
      "position" : [10, 138],
      "checkable" : true,
      "checked" : true,
      "callback" : "swapStatusNanoheal",
      "base" : "/interface/environmentalSafety/es_checkmarkBox_x.png",
      "baseImageChecked" : "/interface/environmentalSafety/es_checkmarkBox_tick.png" 
    },
    
    "lbl_breath" : {
	  "type" : "label",
	  "position" : [35, 120],
	  "hAnchor" : "left",
      "color" : "#36beff",
	  "value" : "Atmosphere Generator."
    },
    "desc_breath" : {
	  "type" : "label",
	  "position" : [35, 112],
	  "hAnchor" : "left",
      "color" : "#007cbc",
	  "value" : "Can take off your suit."
    },
    "check_breath" : {
      "type" : "button",
      "position" : [10, 108],
      "checkable" : true,
      "checked" : true,
      "callback" : "swapStatusBreath",
      "base" : "/interface/environmentalSafety/es_checkmarkBox_x.png",
      "baseImageChecked" : "/interface/environmentalSafety/es_checkmarkBox_tick.png" 
    },
    
    "lbl_heat" : {
	  "type" : "label",
	  "position" : [35, 90],
	  "hAnchor" : "left",
      "color" : "#36beff",
	  "value" : "Central Cooling."
    },
    "desc_heat" : {
	  "type" : "label",
	  "position" : [35, 82],
	  "hAnchor" : "left",
      "color" : "#007cbc",
	  "value" : "For the hottest days."
    },
    "check_heat" : {
      "type" : "button",
      "position" : [10, 78],
      "checkable" : true,
      "checked" : true,
      "callback" : "swapStatusHeat",
      "base" : "/interface/environmentalSafety/es_checkmarkBox_x.png",
      "baseImageChecked" : "/interface/environmentalSafety/es_checkmarkBox_tick.png" 
    },
    
    "lbl_cold" : {
	  "type" : "label",
	  "position" : [35, 60],
	  "hAnchor" : "left",
      "color" : "#36beff",
	  "value" : "Central heating."
    },
    "desc_cold" : {
	  "type" : "label",
	  "position" : [35, 52],
	  "hAnchor" : "left",
      "color" : "#007cbc",
	  "value" : "For the coldest nights."
    },
    "check_cold" : {
      "type" : "button",
      "position" : [10, 48],
      "checkable" : true,
      "checked" : true,
      "callback" : "swapStatusCold",
      "base" : "/interface/environmentalSafety/es_checkmarkBox_x.png",
      "baseImageChecked" : "/interface/environmentalSafety/es_checkmarkBox_tick.png" 
    },
    
    "lbl_radiation" : {
	  "type" : "label",
	  "position" : [35, 30],
	  "hAnchor" : "left",
      "color" : "#36beff",
	  "value" : "Anti-radiaton field."
    },
    "desc_radiation" : {
	  "type" : "label",
	  "position" : [35, 22],
	  "hAnchor" : "left",
      "color" : "#007cbc",
	  "value" : "For those rads who escaped your sight."
    },
    "check_radiation" : {
      "type" : "button",
      "position" : [10, 18],
      "checkable" : true,
      "checked" : true,
      "callback" : "swapStatusRadiation",
      "base" : "/interface/environmentalSafety/es_checkmarkBox_x.png",
      "baseImageChecked" : "/interface/environmentalSafety/es_checkmarkBox_tick.png" 
    }
  },
  
  "scriptWidgetCallbacks" : [
    "swapStatusGravity",
    "swapStatusNanoheal",
    "swapStatusBreath",
    "swapStatusHeat",
    "swapStatusCold",
    "swapStatusRadiation"
  ],
  "scripts" : ["/interface/environmentalSafety/es_UI_console.lua"]
}